@{
    ViewData["Title"] = "用户组管理";
    ViewData["Nav"] = "users.roles";
    Layout = "_Admin";
}
@model IEnumerable<Role>

<div class="actionbar">
    <div class="toolbar">
        <div class="leftbar">
            <a href="javascript:;" _modal="@Url.Action("Edit")" class="action"><i class="fa fa-plus"></i> 添加</a>
            <a href="javascript:;" post-ids="@Url.Action("Deletes")" class="action checked-show"><i class="fa fa-trash"></i> 删除</a>
        </div>
    </div>
</div>

<div class="content-wrapper">
    <div class="content-container">
        <div class="data-container">
            <div class="data-view customScrollBar">
                <div class="datalist hover">
                    <div class="data-head">
                        <div class="checkbox-all"><moz:checkbox></moz:checkbox></div> 
                        <div class="w100">
                            名称
                        </div>
                        <div class="col-auto"></div>
                    </div>
                    @foreach (var role in Model)
                    {
                        <div class="data-row">
                            <div class="data-checkbox">
                                <moz:checkbox value="@role.RoleId"></moz:checkbox>
                            </div>
                            <div class="col-auto">
                                @(role.DisplayName)(@role.RoleName)
                                <div class="actionbar">
                                    <i _modal="@Url.Action("Edit")" class="fa fa-pencil" title="编辑"></i>
                                    @if(!role.IsSystem)
                                    {<i post-id="@Url.Action("Delete")" class="fa fa-trash" title="删除"></i>}
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>