@page
@model IndexModel
@{
    ViewBag.Title = "文件列表";
    ViewBag.Current = "storages.home";
}

<div class="filter">
    <form class="left form-inline">
        <div class="form-group">
            <label>类型</label>
            <moz:extension-name-dropdownlist class="form-control form-control-sm border-secondary" default-text="选择类型" for="Query.ExtensionName"></moz:extension-name-dropdownlist>
        </div>
        <div class="form-group">
            <label>名称</label>
            <div class="input-group">
                <input type="text" asp-for="Query.Name" class="form-control form-control-sm border-secondary" />
                <div class="input-group-append">
                    <button class="btn btn-sm btn-outline-secondary" type="submit">
                        <span class="fa fa-search"></span>
                    </button>
                </div>
            </div>
        </div>
    </form>
    <div class="right">
        <div class="btn-group">
            <a js-checked="post" js-confirm="你确定要删除所选择的文件吗？" asp-page-handler="Delete" class="btn btn-sm btn-outline-secondary"><i class="fa fa-trash-o"></i> 删除</a>
            <a data-toggle="uploader" href="#" class="btn btn-sm btn-outline-secondary"><i class="fa fa-upload"></i> 上传文件</a>
        </div>
        <input js-uploader="@Url.Page("./Index", "Upload")" type="file" class="hide" />
    </div>
</div>

<div class="table-responsive">
    <table class="table table-striped data-view">
        <thead>
            <tr>
                <th class="checkbox-only"><moz:checkall></moz:checkall></th>
                <th>名称</th>
                <th>类型</th>
                <th>添加时间</th>
            </tr>
        </thead>
        <tbody class="data-content">
            @foreach (var file in Model.Query)
            {
                <tr>
                    <td class="checkbox-only"><moz:checkbox value="@file.Id"></moz:checkbox></td>
                    <td>
                        @if (file.Extension.IsPicture())
                        {
                            <img class="align-middle" src="@file.GetThumbUrl(24, 24)" />
                        }
                        else
                        {
                            <img height="24" class="align-middle" src="~/storages/images/@(file.Extension.Trim('.')).png" onerror="this.src='/storages/images/default.png'" />
                        }
                        @(file.Name)@(file.Extension)
                        <div class="data-action">
                            <a js-modal="click" asp-page="./Edit" asp-route-id="@file.Id"><i class="fa fa-pencil"></i> 编辑</a>
                            <a js-confirm="你确定要删除“@(file.Name)@(file.Extension)”吗？" js-action="post" asp-page-handler="Delete" asp-route-ids="@file.Id"><i class="fa fa-trash-o"></i> 删除</a>
                            <a target="_blank" href="@file.Url"><i class="fa fa-link"></i> 访问</a>
                        </div>
                    </td>
                    <td>@Model.GetDictionaryValue($"extensionname.{file.ExtensionName}")</td>
                    <td>
                        @file.CreatedDate.ToString("yyyy-MM-dd HH:mm:ss")
                    </td>
                </tr>
            }
            <moz:warning-tabled colspan="3" attach="Model.Query">还没有上传任何文件！</moz:warning-tabled>
        </tbody>
    </table>
</div>

@section footer{
    <script type="text/javascript">
        $('[data-toggle=uploader]').on('uploaded',
            e => {
                if (e) location.href = location.href;
            });
    </script>
}