@{
    ViewData["Title"] = "禁用名称管理";
    ViewData["Nav"] = "users.disallow";
    Layout = "_Admin";
}
@model Mozlite.Extensions.Security.DisallowNames.NameQuery

<div class="actionbar">
    <div class="toolbar">
        <div class="leftbar">
            <a href="javascript:;" _modal="@Url.Action("Create")" class="action"><i class="fa fa-plus"></i> 添加</a>
            <a href="javascript:;" post-ids="@Url.Action("Deletes")" class="action"><i class="fa fa-trash"></i> 删除</a>
        </div>
    </div>
</div>

<div class="content-wrapper">
    <div class="content-container">
        <div class="filterbar">
            <div class="checkbox-all"><moz:checkbox></moz:checkbox></div>
            <div class="actionbar">
                <label>禁用名称：</label>
                <div class="input-group" style="width: 200px;">
                    <input asp-for="Name" type="text" class="form-control" />
                    <div class="input-group-btn">
                        <button type="submit"><i class="fa fa-search"></i></button>
                    </div>
                </div>
            </div>
        </div>
        <div class="data-container">
            <div class="data-view customScrollBar">
                <div class="datalist hover">
                    <div class="data-head">
                        <div class="col-auto">
                            禁用名称
                        </div>
                    </div>
                    @foreach (var name in Model)
                    {
                        <div class="data-row">
                            <div class="data-checkbox">
                                <moz:checkbox value="@name.Id"></moz:checkbox>
                            </div>
                            <div class="col-auto">
                                @name.Name
                                <div class="actionbar">
                                    <i post-id="@Url.Action("Delete")" class="fa fa-trash" title="删除"></i>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>