@page "/login"
@model LoginModel
@inject ISettingsManager SettingsManager
@{
    ViewData["Title"] = "用户登录";
    Layout = "_Global";
    var settings = SettingsManager.GetSettings<SiteSettings>();
    var securitySettings = SettingsManager.GetSettings<SecuritySettings>();
}

<div class="signin">
    <div class="login-title">
        <img class="mb-1" src="@(settings.LogoUrl??"/images/logo.png")" alt="@settings.SiteName" width="72" height="72">
        <h1 class="h3 mb-3 text-primary">@settings.SiteName</h1>
    </div>
    <div class="signin-panel">
        <form method="post">
            <h4 class="text-primary mb-4 text-center">用户登录</h4>
            <div class="form-label-group">
                <input asp-for="Input.UserName" class="form-control" placeholder="用户名" />
                <label>用户名</label>
                <span asp-validation-for="Input.UserName" class="text-danger" autofocus></span>
            </div>
            <div class="form-label-group">
                <input asp-for="Input.Password" class="form-control" placeholder="密码" />
                <label>密码</label>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-label-group">
                <div class="input-group input-append">
                    <input asp-for="Input.Code" class="form-control" placeholder="验证码" />
                    <label>验证码</label>
                    <div class="input-group-append validcode"><moz:verifier key="login" size="16" height="36" length="6"></moz:verifier></div>
                </div>
                <span asp-validation-for="Input.Code" class="text-danger"></span>
            </div>
            <div class="link-panel">
                <div class="link-left">
                    <moz:checkbox for="Input.RememberMe" class="mb-3">记住登录状态</moz:checkbox>
                </div>
                <div class="link-right">
                    <a asp-page="./ForgotPassword">忘记密码?</a>
                </div>
            </div>
            <button class="btn btn-lg btn-primary btn-block mb-3" type="submit">登录</button>
        </form>
        <div class="link-panel">
            <div class="link-left" .visible="@((Model.ExternalLogins?.Count ?? 0) > 0)">
                <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                    @foreach (var provider in Model.ExternalLogins)
                    {
                        <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="使用你的@(provider.DisplayName)账号登录">@provider.DisplayName</button>
                    }
                </form>
            </div>
            <div class="link-right">
                <a .visible="@securitySettings.Registrable" asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">未有用户？注册</a>
            </div>
        </div>
    </div>
</div>
<div class="copyright">@settings.CopyrightHTML</div>

@section header{
    <link href="~/security/css/login.css" rel="stylesheet" />
}