@{
    ViewData["Title"] = "日志管理";
    ViewData["Nav"] = "users.logs";
    Layout = "_Admin";
    DateTime? date = null;
}
@model ActivityQuery

<div class="actionbar">
    <div class="toolbar">
        <div class="leftbar">
            <a href="javascript:;" post-ids="@Url.Action("Deletes")" class="action"><i class="fa fa-trash"></i> 删除</a>
        </div>
    </div>
</div>

<div class="content-wrapper">
    <div class="content-container">
        <div class="filterbar">
            <div class="checkbox-all"><moz:checkbox></moz:checkbox></div>
            <div class="actionbar">
                <label>用户名：</label>
                <input asp-for="Name" type="text" class="form-control w120" />
                <label>IP地址：</label>
                <input asp-for="IP" type="text" class="form-control w120" />
                <button title="查询" class="ml5" type="submit"><i class="fa fa-search"></i></button>
            </div>
            <div class="pagebar"><moz:pager-select onchange="$href({page:this.value})"></moz:pager-select></div>
        </div>
        <div class="data-container">
            <div class="data-view customScrollBar">
                <div class="datalist hover">
                    @foreach (var activity in Model)
                    {
                        if (date != activity.CreatedDate.Date)
                        {
                            date = activity.CreatedDate.Date;
                            <div class="data-head">
                                @date?.ToString("yyyy-MM-dd")
                            </div>
                        }
                        <div class="data-row">
                            <div class="data-checkbox">
                                <moz:checkbox value="@activity.Id"></moz:checkbox>
                            </div>
                            <div class="col-auto">
                                [@activity.CreatedDate.ToString("HH:mm:ss")]
                                <a href="#@activity.UserName">@activity.NickName</a> @Html.Raw(activity.Activity)
                            </div>
                            <div class="w120">@activity.IPAdress</div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>