@page
@model IndexModel
@{
    ViewBag.Title = "用户列表";
    ViewBag.Current = "users.index";
}

<div class="filter">
    <form method="get" class="left form-inline">
        <label>注册时间：</label>
        <input class="form-control form-control-sm border-secondary" js-date="datetime" js-date-max="#Model_End" type="text" asp-for="Model.Start" autocomplete="off" /> 
        <label>-</label> 
        <input js-date="datetime" js-date-min="#Model_Start" class="form-control form-control-sm border-secondary" type="text" asp-for="Model.End" autocomplete="off" />
        <label>名称：</label>
        <div class="input-group input-group-sm">
            <input class="form-control form-control-sm border-secondary" asp-for="Model.Name" />
            <div class="input-group-append">
                <button class="btn btn-sm btn-outline-secondary" type="submit">
                    <span class="fa fa-search"></span>
                </button>
            </div>
        </div>
    </form>
    <div class="right">
        <a js-modal="click" class="btn btn-sm btn-outline-secondary" asp-page="/admin/create"><i class="fa fa-plus"></i> 添加用户</a>
    </div>
</div>

<div class="table-responsive">
    <table class="table table-striped table-bordered data-view" js-actionbar=".filter">
        <thead>
            <tr>
                <th>名称</th>
                <th>电话号码</th>
                <th>电子邮件</th>
                <th class="moz-datetime">注册时间</th>
            </tr>
        </thead>
        <tbody class="data-content">
            @foreach (var user in Model.Model)
            {
                var lockout = user.LockoutEnd > DateTimeOffset.Now;
                <tr>
                    <td>
                        <i .visible="lockout" class="text-danger fa fa-lock"></i>
                        @(user.UserName)(@user.RoleName)
                        <div class="data-action  pull-right">
                            <a js-action="modal" title="区域" asp-route-id="@user.UserId" asp-action="AddToUser" asp-area="range" asp-controller="Area"><i class="fa fa-map"></i></a>
                            <a .visible="lockout" js-action="post" title="解锁" asp-page="/admin/lockout" asp-page-handler="Unlock" asp-route-id="@user.UserId"><i class="fa fa-unlock"></i></a>
                            <a .visible="!lockout&&user.LockoutEnabled" js-action="modal" title="锁定" asp-page="/admin/lockout" asp-route-id="@user.UserId"><i class="fa fa-lock"></i></a>
                            <a js-action="modal" title="编辑" asp-page="/admin/edit" asp-route-id="@user.UserId"><i class="fa fa-pencil"></i></a>
                            <a js-action="modal" title="设置密码" asp-page="/admin/password" asp-route-id="@user.UserId"><i class="fa fa-key"></i></a>
                            <a js-action="modal" title="设置角色" asp-page="/admin/role" asp-route-id="@user.UserId"><i class="fa fa-users"></i></a>
                            <a js-action="post" js-confirm="你确定要删除用户“@user.UserName”?" asp-route-id="@user.UserId" title="删除" asp-page-handler="Delete"><i class="fa fa-trash"></i></a>
                        </div>
                    </td>
                    <td>@user.PhoneNumber</td>
                    <td>@user.Email</td>
                    <td>@user.CreatedDate.ToString("yyyy-MM-dd HH:mm")</td>
                </tr>
            }
            <moz:warning-tabled colspan="4" attach="Model.Model">当前网站还没添加其他用户！</moz:warning-tabled>
        </tbody>
    </table>
</div>