@page
@inject Mozlite.Extensions.Settings.ISettingsManager SettingsManager
@using MozliteDemo.Extensions.Security.Areas.Security
@model LogModel
@{
    ViewData["Title"] = "活动日志";
    ViewData["Current"] = AccountMenu.Log;
    var date = DateTime.MinValue;
}
@inject ILocalizer Localizer


<div class="account-title">
    <h4>@ViewData["Title"]</h4>
    <hr />
</div>

<div class="table-responsive">
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th class="text-center">时间</th>
                <th class="text-center">分类</th>
                <th>日志信息</th>
            </tr>
        </thead>
        <tbody class="data-content">
            @foreach (var message in Model.Model)
            {
                if (date != message.CreatedDate.Date.Date)
                {
                    date = message.CreatedDate.Date.Date;
                    <tr>
                        <th colspan="3">@date.ToString("yyyy-MM-dd")</th>
                    </tr>
                }
                <tr>
                    <td class="text-center">@message.CreatedDate.ToString("HH:mm")</td>
                    <td class="text-center">@Model.GetEventType(message.EventId)</td>
                    <td>@Html.Raw(message.Message)</td>
                </tr>
            }
            <moz:warning-tabled colspan="3" class="text-secondary" attach="Model.Model">没有查询到相关日志！</moz:warning-tabled>
        </tbody>
    </table>
    <moz:page class="page-center d-print-none mb-2" data="Model.Model"></moz:page>
</div>