@{
    Layout = "_Admin";
    ViewData["Title"] = "后台服务";
    ViewData["Nav"] = "settings.tasks";
}
@model IEnumerable<Mozlite.Extensions.Tasks.TaskDescriptor>

<div class="actionbar">
    <div class="toolbar">
        <div class="leftbar">
            <a href="javascript:;" _modal="@Url.Action("Edit")" class="action"><i class="fa fa-plus"></i> 添加</a>
            <a href="javascript:;" post-ids="@Url.Action("Deletes")" class="action checked-show"><i class="fa fa-trash"></i> 删除</a>
        </div>
    </div>
</div>

<div class="content-wrapper">
    <div class="content-container">
        <div class="data-container">
            <div class="data-view customScrollBar">
                <div class="datalist hover">
                    <div class="data-head">
                        <div class="checkbox-all"><moz:checkbox></moz:checkbox></div>
                        <div class="w200">
                            名称
                        </div>
                        <div class="col-auto">描述</div>
                        <div class="w100">
                            间隔
                        </div>
                        <div class="col-dt">
                            上一次运行时间
                        </div>
                        <div class="col-dt">
                            下一次运行时间
                        </div>
                    </div>
                    @foreach (var task in Model)
                    {
                        <div class="data-row @if(task.NextExecuting<DateTime.Now){@Html.Raw("head-red")}">
                            <div class="data-checkbox">
                                <moz:checkbox value="@task.Id"></moz:checkbox>
                            </div>
                            <div class="w200">
                                @task.Name
                                <div class="actionbar">
                                    <i _modal="@Url.Action("Edit")" class="fa fa-pencil" title="编辑"></i>
                                </div>
                            </div>
                            <div class="col-auto">
                                @task.Description
                            </div>
                            <div class="w100">
                                @task.ToHtmlInterval()
                            </div>
                            <div class="col-dt">
                                @task.LastExecuted
                            </div>
                            <div class="col-dt">
                                @task.NextExecuting
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>