@page
@model EpubModel
@{
    ViewBag.Title = "电子书生成器";
    var i = 0;
}

<form method="post">
    <input type="hidden" asp-for="Input.BookId" />
    <div class="form-group">
        <label>标题</label>
        <input asp-for="Input.DC.Title" class="form-control" />
    </div>
    <div class="form-group">
        <label>封面</label>
        <div class="input-group">
            <input asp-for="Input.CoverImage" class="form-control uploaded" />
            <div class="input-group-append" data-toggle="uploader">
                <button type="button" class="btn btn-secondary"><i class="fa fa-picture-o"></i></button>
            </div>
        </div>
    </div>
    @if(Model.Input.Manifest!=null)
    {
        foreach (var file in Model.Input.Manifest)
        {
            <div class="form-group">
                <div class="input-group">
                    <input name="Input.Manifest[@i].Href" class="form-control" value="@file.Href"/>
                    <moz:checkbox name="Input.Manifest[@i].IsSpine" value="true" checked="@file.IsSpine"> 是否为文档</moz:checkbox>
                    <input name="Input.Manifest[@i].Title" class="form-control" value="@file.Title"/>
                </div>
            </div>
            i++;
        }
    }
    <input type="file" js-data-bookid="@Model.Input.BookId" class="hide" js-uploader="@Url.Page("./Epub", "Upload")" />
    <div class="form-group">
        <button type="submit" class="btn btn-secondary">提交</button>
    </div>
</form>