@page
@model IndexModel
@{
    ViewBag.Title = "权限列表";
    ViewBag.Current = "users.permissions";
    var current = true;
}

<div class="tab-content pb-0">
    @foreach (var key in Model.Permissions.Keys)
    {
        var permissions = Model.Permissions[key];
        var index = 0;
        var count = permissions.Count - 1;
        <div .class-active="current" .class-show="current" class="tab-pane fade" id="@key" role="tabpanel" aria-labelledby="@(key)-tab">
            <table class="table table-striped table-bordered">
                <tbody>
                    @foreach (var permission in permissions)
                    {
                        <tr>
                            <td class="border-right-0">
                                <b>@permission.Text</b>
                                <div class="text-secondary">@permission.Description</div>
                            </td>
                            <td class="align-middle text-right border-left-0">
                                <a .visible="index>0" js-action="post" js-data-id="@permission.Id" js-data-category="@permission.Category" title="向上移动" asp-page-handler="MoveUp"><i class="fa fa-arrow-up"></i> 上移</a>
                                <a .visible="index<count" js-action="post" js-data-id="@permission.Id" js-data-category="@permission.Category" title="向下移动" asp-page-handler="MoveDown"><i class="fa fa-arrow-down"></i> 下移</a>
                            </td>
                        </tr>
                        index++;
                    }
                </tbody>
            </table>
        </div>
        current = false;
    }
</div>

@section summary{
    <ul class="nav nav-tabs" role="tablist">
        @foreach (var category in Model.Permissions.Keys)
        {
            <li class="nav-item" .class-active="!current">
                <a .class-active="!current" class="nav-link" id="@(category)-tab" data-toggle="tab" href="#@(category)" role="tab">@Model.GetDictionaryValue($"permissions.{category}")</a>
            </li>
            current = true;
        }
    </ul>
}