@using Mozlite.Mvc.Themes
@{
    Layout = "_Global";
}
@inject User CurrentUser
@inject IThemeApplicationManager ThemeApplicationManager
<div class="header">
    <div class="leftbar">
        <div _load="@Url.Action("Menu", "Admin", new{Area=""})" class="button">
            <i class="fa fa-user-secret"></i>
        </div>
        <a href="~/" class="name"><span>Mozlite</span></a>
    </div>
    <div class="searchbar">

    </div>
    <div class="rightbar">
        <div _load="@Url.Action("RWin")" class="button"><i class="fa fa-cog"></i></div>
        <div _load="@Url.Action("RWin")" class="button"><i class="fa fa-question"></i></div>
        <div _load="@Url.Action("Menu", "Account", new{Area = SecuritySettings.ExtensionName})" class="button"><img src="@(CurrentUser.Avatar??"/images/avatar.png")" class="avatar" /></div>
    </div>
    <div class="skin"></div>
</div>
<div class="main">
    <div class="main-inner">
        <div class="menu-wrapper" style="width:270px">
            <div class="menu-inner">
                <div class="menu-main">
                    <div class="menu-toggle-button">
                        <button type="button" title="隐藏导航窗格">
                            <i class="icon-bar"></i>
                            <i class="icon-bar"></i>
                            <i class="icon-bar"></i>
                        </button>
                    </div>
                    <div class="menu-container">
                        <div class="menu-top">
                            @foreach (var application in ThemeApplicationManager.LoadApplications(NavigateMode.MenuTop))
                            {
                                <a href="@application.LinkUrl">
                                    <i class="@application.IconClass"></i>
                                </a>
                            }
                        </div>
                        <div class="menu-bottom">
                            @foreach (var application in ThemeApplicationManager.LoadApplications(NavigateMode.MenuBottom))
                            {
                                <a href="@application.LinkUrl">
                                    <i class="@application.IconClass"></i>
                                </a>
                            }
                        </div>
                    </div>
                </div>
                <div class="sub-menu-wrapper" style="width: 222px;">
                    <div class="actionbar">
                        <button type="button" _href="@Url.Action("Edit", "Home", new{area=""})">
                            <i class="fa fa-plus"></i> 添加文章
                        </button>
                    </div>
                    <div class="sub-menu-container disableTextSelection customScrollBar overlay">
                        <div>
                            <span class="sr-only">导航窗格</span>
                            <div class="sub-menu-tree">
                                <div class="sub-menu-tree-header">
                                    <button type="button">
                                        <i class="fa fa-angle-down"></i>
                                    </button>
                                    <span class="text">收藏夹</span>
                                </div>
                                <div class="sub-menu-tree-body">
                                    <div draggable="true">
                                        <div class="sub-menu-item active" title="收件箱">
                                            <i class="fa fa-envelope-o"></i>
                                            <span class="text">收件箱</span>
                                            <span class="sub-menu-item-badge">
                                                <span class="sub-menu-item-badge-container">
                                                    <span class="sr-only">未读</span>
                                                </span>
                                            </span>
                                            <span class="sub-menu-item-action">
                                                <button type="button" title="从收藏夹中删除">
                                                    <i class="fa fa-star"></i>
                                                </button>
                                            </span>
                                        </div>
                                    </div>
                                    <div draggable="true">
                                        <div class="sub-menu-item" title="草稿箱">
                                            <i class="fa fa-pencil"></i>
                                            <span class="text">草稿箱</span>
                                            <span class="sub-menu-item-badge">
                                                <span class="sub-menu-item-badge-container">
                                                    5
                                                    <span class="sr-only">未读</span>
                                                </span>
                                            </span>
                                            <span class="sub-menu-item-action">
                                                <button type="button" title="从收藏夹中删除">
                                                    <i class="fa fa-star"></i>
                                                </button>
                                            </span>
                                        </div>
                                    </div>
                                    <div draggable="true">
                                        <div class="sub-menu-item" title="测试">
                                            <i class="fa fa-key"></i>
                                            <span class="text">测试</span>
                                            <span class="sub-menu-item-badge">
                                                <span class="sub-menu-item-badge-container">
                                                    <span class="sr-only">未读</span>
                                                </span>
                                            </span>
                                            <span class="sub-menu-item-action">
                                                <button type="button" title="从收藏夹中删除">
                                                    <i class="fa fa-star"></i>
                                                </button>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="sub-menu-tree">
                                <div class="sub-menu-tree-header">
                                    <button type="button">
                                        <i class="fa fa-angle-down"></i>
                                    </button>
                                    <span class="text">收件箱</span>
                                </div>
                                <div class="sub-menu-tree-body">
                                    <div draggable="true">
                                        <div class="sub-menu-item" title="收件箱">
                                            <i class="fa fa-envelope-o"></i>
                                            <span class="text">收件箱</span>
                                            <span class="sub-menu-item-badge">
                                                <span class="sub-menu-item-badge-container">
                                                    <span class="sr-only">未读</span>
                                                </span>
                                            </span>
                                            <span class="sub-menu-item-action">
                                                <button type="button" title="从收藏夹中删除">
                                                    <i class="fa fa-star-o"></i>
                                                </button>
                                            </span>
                                        </div>
                                    </div>
                                    <div draggable="true">
                                        <div class="sub-menu-item" title="草稿箱">
                                            <i class="fa fa-pencil"></i>
                                            <span class="text">草稿箱</span>
                                            <span class="sub-menu-item-badge">
                                                <span class="sub-menu-item-badge-container">
                                                    5
                                                    <span class="sr-only">未读</span>
                                                </span>
                                            </span>
                                            <span class="sub-menu-item-action">
                                                <button type="button" title="从收藏夹中删除">
                                                    <i class="fa fa-star-o"></i>
                                                </button>
                                            </span>
                                        </div>
                                    </div>
                                    <div draggable="true">
                                        <div class="sub-menu-item" title="测试">
                                            <i class="fa fa-key"></i>
                                            <span class="text">测试</span>
                                            <span class="sub-menu-item-badge">
                                                <span class="sub-menu-item-badge-container">
                                                    <span class="sr-only">未读</span>
                                                </span>
                                            </span>
                                            <span class="sub-menu-item-action">
                                                <button type="button" title="从收藏夹中删除">
                                                    <i class="fa fa-star-o"></i>
                                                </button>
                                            </span>
                                        </div>
                                    </div>
                                    <div draggable="true">
                                        <div class="sub-menu-item" title="测试">
                                            <i class="fa fa-key"></i>
                                            <span class="text">测试</span>
                                            <span class="sub-menu-item-badge">
                                                <span class="sub-menu-item-badge-container">
                                                    <span class="sr-only">未读</span>
                                                </span>
                                            </span>
                                            <span class="sub-menu-item-action">
                                                <button type="button" title="从收藏夹中删除">
                                                    <i class="fa fa-star-o"></i>
                                                </button>
                                            </span>
                                        </div>
                                    </div>
                                    <div draggable="true">
                                        <div class="sub-menu-item" title="测试">
                                            <i class="fa fa-key"></i>
                                            <span class="text">测试</span>
                                            <span class="sub-menu-item-badge">
                                                <span class="sub-menu-item-badge-container">
                                                    <span class="sr-only">未读</span>
                                                </span>
                                            </span>
                                            <span class="sub-menu-item-action">
                                                <button type="button" title="从收藏夹中删除">
                                                    <i class="fa fa-star-o"></i>
                                                </button>
                                            </span>
                                        </div>
                                    </div>
                                    <div draggable="true">
                                        <div class="sub-menu-item" title="测试">
                                            <i class="fa fa-key"></i>
                                            <span class="text">测试</span>
                                            <span class="sub-menu-item-badge">
                                                <span class="sub-menu-item-badge-container">
                                                    <span class="sr-only">未读</span>
                                                </span>
                                            </span>
                                            <span class="sub-menu-item-action">
                                                <button type="button" title="从收藏夹中删除">
                                                    <i class="fa fa-star-o"></i>
                                                </button>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="sub-menu-item-new">
                                        <div class="text">新建文件夹</div>
                                        <input name="sub" type="text" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="splitter"></div>
        <div class="body">
            @RenderBody()
        </div>
        <div class="main-slider"></div>
    </div>
</div>

@if (IsSectionDefined("header"))
{
    @RenderSection("header", false)
}
@section footer
{
    @RenderSection("footer", false)
    <moz:alert></moz:alert>
}